<nav  class="row" th:fragment="navbar">
    <div>
        <ul class="nav nav-pills">
            <li  class="nav-item active navItem" th:unless="${session.hideCabinet}">
                <a class="nav-link links" href="#">Личный кабинет</a>
            </li>
            <li class="nav-item active navItem" th:unless="${session.hideThemes}">
                <a class="nav-link links" href="#">Темы</a>
            </li>
            <li class="nav-item active navItem" th:unless="${session.hidePlans}">
                <a class="nav-link links" href="#">Планы</a>
            </li>
            <li class="nav-item active navItem" th:unless="${session.hideTests}">
                <a class="nav-link links" href="#">Тесты</a>
            </li>
            <li class="nav-item active navItem" th:unless="${session.hideStats}">
                <a class="nav-link links" href="#">Статистика</a>
            </li>
        </ul>
    </div>
</nav>